# lab 1 practise

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('transactions.csv')

In [5]:
df.describe()

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [6]:
print(df.shape[1])

5

In [7]:
rowname=df.index
print(rowname.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
colname=df.columns
print(colname.tolist())

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [9]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [10]:
df.rename(columns={'Quantity':'Quant'},inplace=True)

In [11]:
df

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [12]:
df.rename(columns={'ProductID':'PID'},inplace=True)
df.rename(columns={'UserID':'UID'},inplace=True)
df

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [20]:
sort=df.sort_values(by="Quant",ascending=True)
print(sort.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [22]:
df.sort_values(by="TransactionDate",ascending=False)
print(df.head())

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [21]:
columns=['UID']+[col for col in df.columns if col!='UID']
l=df[columns]
print(l.head())

   UID  TransactionID TransactionDate  PID  Quant
6  3.0              7      2013-12-30    4      1
4  2.0              5      2013-06-06    4      1
2  3.0              3      2011-06-16    3      1
1  3.0              2      2011-05-26    4      1
0  7.0              1      2010-08-21    2      1

In [23]:
df.drop_duplicates()

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

In [24]:
df.shape

(10, 5)

In [26]:
df.isnull().sum()

TransactionID      0
TransactionDate    0
UID                1
PID                0
Quant              0
dtype: int64