In [13]:
import pandas as pd
data={"calories":[123,432,322],"Fruits":["mango","apple","orange"]}
df=pd.DataFrame(data)
print(df)

   calories  Fruits
0       123   mango
1       432   apple
2       322  orange

In [ ]:
import pandas as pd
data={"calories":[123,432,322],"Fruits":["mango","apple","orange"]}
df=pd.DataFrame(data,index=
print(df)

In [5]:
print(df.head())
print(df.info())

   calories  Fruits
0       123   mango
1       432   apple
2       322  orange
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  3 non-null      int64
 1   Fruits    3 non-null      object
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
None

In [31]:
import pandas as pd
df=pd.read_csv('transactions.csv')
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [32]:
import pandas as pd
df=pd.read_csv('transactions.csv')
df.rename(columns={'ProductID':'PID','UserID':'UID','TransactionDate':'TID'},inplace=True)
print(df)

   TransactionID         TID  UID  PID  Quantity
0              1  2010-08-21  7.0    2         1
1              2  2011-05-26  3.0    4         1
2              3  2011-06-16  3.0    3         1
3              4  2012-08-26  1.0    2         3
4              5  2013-06-06  2.0    4         1
5              6  2013-12-23  2.0    5         6
6              7  2013-12-30  3.0    4         1
7              8  2014-04-24  NaN    2         3
8              9  2015-04-24  7.0    4         3
9             10  2016-05-08  3.0    4         4

In [2]:
print("Summary of the Dataset:")
print(data.describe(include='all'))

Summary of the Dataset:

NameError: name 'data' is not defined